.DS_Store
node_modules
/build
/staged
/.svelte-kit
/package
.env
.env.*
env.cloudrun
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.vscode
sessions.db
facebook.config.json
news-cache.json
localhost.crt
locahost.key
